.register {
    width: 300px;
    height: 250px;
    border: 3px solid maroon;
    border-radius: 5px;
    box-shadow: 2px 2px 5px maroon;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 30px;
}
.register-form {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.form-item input {
    border-radius: 5px;
    width: 200px;
    height: 30px;
    margin-top: 5px;
}