.btn {
    color: maroon;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    margin-top: 20px;
}
.border {
    border: 1px solid maroon;
    padding: 10px 20px;
}
.border:hover {
    background-color: darkgray;
}