.container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.image-div {
    width: 300px;
    height: 300px;
}
.image-div img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.location {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.container > h3 {
    padding: 5px 0;
}
.cost {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.add-delete-buttons {
    display: flex;
    gap: 10px;
}